[Unit]
Description=Antd Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/www
ExecStart=ant-d
Restart=always
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target